@font-face {
  font-family: "Wall-E-Font";
  src: url("./assets/fonts/wall-e/gunshipacadital.ttf") format("truetype");
}
@font-face {
  font-family: "credit";
  src: url("./assets/fonts/kredit.otf");
}
@font-face {
  font-family: "Wall-E-Credit";
  src: url("./assets/fonts/wall-e/gunship3d.ttf");
}
@mixin card-style($background-image, $overlay-image) {
  font-family: "credit", Courier, monospace;
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  box-shadow: -5px -2px 55px -8px rgba(4, 4, 4, 0.74);
  -webkit-box-shadow: -5px -2px 55px -8px rgba(6, 6, 6, 0.74);
  -moz-box-shadow: -5px -2px 55px -8px rgba(16, 15, 15, 0.74);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("#{$background-image}");
  background-size: cover;
  z-index: -1;
  &::after {
    content: "";
    font-family: "Wall-E-Font", Courier, monospace;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
    box-shadow: -5px -2px 55px -8px rgba(240, 231, 231, 0.74);
    -webkit-box-shadow: -5px -2px 55px -8px rgba(216, 204, 204, 0.74);
    -moz-box-shadow: -5px -2px 55px -8px rgba(197, 170, 170, 0.74);
    box-sizing: border-box;
    width: 10%;
    height: 16%;
    position: absolute;
    top: 13px;
    left: 13px;
    background-image: url("#{$overlay-image}");
    background-size: cover;
    z-index: 1;
  }
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;

  a {
    text-decoration: none;
    color: #84aed5;
    font-family: Wall-E-Font;
    font-size: 1.5rem;
    &:hover {
      color: #fff;
    }
  }
}

h1 {
  font-family: Wall-E-Font;
  color: #84aed5;
}
h2 {
  font-family: Wall-E-Font;
  color: #84aed5;
}

// wrappar alla kort
.card-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.active-card {
  position: relative;
  order: -1;
  z-index: 2;
  margin-bottom: 35%;
}

.inactive-card {
  position: relative;
  order: 1;
  z-index: 1;
  margin-top: -45%;
}

/* Wrapper för varje individuellt kort */
.card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 500px;
  height: 300px;
  flex-wrap: wrap;
  align-content: flex-end;
}

.card-EveCard {
  @include card-style("./assets/Eve.jpg", "/plantIcon.png");
}

.card-RoboPay {
  @include card-style("./assets/WALL_E.jpg", "/plantIcon.png");
  background-position: center;
}

.card-EarthSaver {
  @include card-style("./assets/SNOW_WALL_E.jpg", "/plantIcon.png");
}

.vendor-RoboPay {
  width: fit-content;
  align-self: self-start;
  position: absolute;
  right: 6%;
  font-size: 150%;
  font-family: "Wall-E-Credit";
  color: #000;
}
.vendor-EarthSaver {
  font-family: "Wall-E-Credit";
  font-size: 150%;
  width: fit-content;
  align-self: self-start;
  position: absolute;
  right: 6%;
  color: #000;
}
.vendor-EveCard {
  font-family: "Wall-E-Credit";
  width: fit-content;
  align-self: self-start;
  font-size: 150%;
  position: absolute;
  right: 6%;
  color: #000;
}
.clientName {
  text-align: center;
  font-size: 150%;
  align-self: flex-end;
  width: fit-content;
  position: absolute;
  bottom: -3%;
  left: 5%;
}
.expiration {
  text-align: center;
  font-size: 150%;
  width: fit-content;
  align-self: end;
  position: absolute;
  right: 7%;
  bottom: 3%;
}
.cardNumber {
  text-align: center;
  width: fit-content;
  font-size: 240%;
  align-self: flex-end;
  padding: 5%;
  position: absolute;
}
.cvv {
  display: flex;
  align-self: center;
  position: absolute;
  width: 77%;
  right: 12%;
  flex-direction: row;
  justify-content: space-between;

  p {
    left: 0%;
    font-size: 120%;
    bottom: 5%;
  }
  .chip-img {
    width: 50px;
    height: 50px;
    top: 5%;
  }
  .wireless-img {
    width: 65px;
    height: 65px;
    position: absolute;
    top: -12%;
    left: 11%;
  }
}
.delete-btn {
  border-radius: 15px;
  z-index: 2;
  padding: 5px;
  transform: translate(-290px,-142px);
  transition: background-color 0.3s ease-in-out;
  button:hover::before {
    font-family: "Wall-E-Font";
    content: "Delete";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-div {
  display: flex;
  flex-direction: column;
  input {
    width: 224px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .delete-btn {
    position: relative;
    top: 10px; /* Ny toppposition */
    right: 10px; /* Ny högerposition */
    /* Andra egenskaper för mindre skärmar här */
  }
  .card-wrapper {
    width: 320px;
    height: 200px;
    .cardNumber{
      font-size: 150%;
    }
  }

  .site-wrapper{
    gap: none;
  }
 .active-card{
    margin-bottom: 75px;
  }
  .inactive-card{
    margin-top: -10em;
  }
  nav{
    display: flex;
    flex-direction: column;
  }
  .cvv{
    .chip-img{
      width: 30px;
      height: 30px;
    }
    .wireless-img{
      width: 40px;
      height: 40px;
      top: -8%;
    }
  }
}
