#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.card-list {
  display: flex;
  flex-direction: column; /* Ändra till column för att korten ska staplas på varandra */
  justify-content: center;
  gap: 1em;
}

.active-card {
  order: -1; /* Ändra ordningen på korten så att det aktiva kortet hamnar överst */
  z-index: 2; /* Högre z-index för att ligga ovanpå inaktiva kort */
  position: relative; /* Sätt position till relativ för att justera margin för inaktiva kort */
  margin-bottom: 16em; /* Justera marginalet mellan aktiva och inaktiva kort */
}

.inactive-card {
  order: 1;
  z-index: 1;
  position: relative;
  margin-top: -15em;
}



  


.card-AMERICAN{
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 15px;
  box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  -webkit-box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  -moz-box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  box-sizing: border-box;
  width: 500px;
  height: 300px;

}
.card-VISA{
  background-color: rgb(196, 23, 184);
  color: #000;
  border-radius: 15px;
  box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  -webkit-box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  -moz-box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  box-sizing: border-box;
  width: 500px;
  height: 300px;
}
.card-mastercard{
  background-color: #ff0000;
  color: #fff;
  border-radius: 15px;
  box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  -webkit-box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  -moz-box-shadow: -5px -2px 55px -8px rgba(31,25,25,0.74);
  box-sizing: border-box;
  width: 500px;
  height: 300px;
}

.input{
  list-style: none;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}






