@font-face {
  font-family: "Wall-E-Font";
  src: url("./assets/fonts/wall-e/gunshipacadital.ttf") format("truetype");
}
@font-face {
  font-family: "credit";
  src: url("./assets/fonts/kreditfont.otf");
}
@font-face {
  font-family: "Wall-E-Credit";
  src: url("./assets/fonts/wall-e/gunshipacad.ttf");
}
@mixin card-style($background-image, $overlay-image) {
  font-family: "credit", Courier, monospace;
  font-weight: bold;
  color: rgb(254, 252, 252);
  border-radius: 15px;
  box-shadow: -5px -2px 55px -8px rgba(4, 4, 4, 0.74);
  -webkit-box-shadow: -5px -2px 55px -8px rgba(6, 6, 6, 0.74);
  -moz-box-shadow: -5px -2px 55px -8px rgba(16, 15, 15, 0.74);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("#{$background-image}");
  background-size: cover;
  z-index: -1;
  &::after {
    content: "";
    font-family: "Wall-E-Font", Courier, monospace;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
    box-shadow: -5px -2px 55px -8px rgba(240, 231, 231, 0.74);
    -webkit-box-shadow: -5px -2px 55px -8px rgba(216, 204, 204, 0.74);
    -moz-box-shadow: -5px -2px 55px -8px rgba(197, 170, 170, 0.74);
    box-sizing: border-box;
    width: 11%;
    height: 18%;
    position: absolute;
    top: 13px;
    left: 13px;
    background-image: url("#{$overlay-image}");
    background-size: cover;
    z-index: 1;
  }
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 128vh;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  border-bottom: solid #e6e6e6;

  a {
    text-decoration: none;
    color: #000000;
    font-family: Arial-black, Helvetica, sans-serif;
    font-size: 1.5rem;
    &:hover {
      color: #fff;
    }
  }
}

h1 {
  font-family: Wall-E-Font;
  color: #000000;
}
h2 {
  font-family: futura, Helvetica, sans-serif;
  color: #020202;
}

// wrappar alla kort
.card-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap:2rem;

}
.active-card {
  position: relative;
  order: -1;
  z-index: 2;
}

.inactive-card {
  position: relative;
  order: 1;
  z-index: 1;
  margin-bottom: -53%;
  height: 300px;
}

/* Wrapper för varje individuellt kort */
.card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 500px;
  height: 300px;
  flex-wrap: wrap;
  align-content: flex-end;
}

.card-EveCard {
  @include card-style("./assets/Eve.jpg", "/plantIcon.png");
}

.card-RoboPay {
  @include card-style("./assets/WALL_E.jpg", "/plantIcon.png");
  background-position: center;
}

.card-EarthSaver {
  @include card-style("./assets/SNOW_WALL_E.jpg", "/plantIcon.png");
}

.vendor-RoboPay {
  width: fit-content;
  align-self: self-start;
  position: absolute;
  right: 6%;
  font-size: 150%;
  font-family: "Wall-E-Credit";
  color: rgb(202, 195, 195);
}
.vendor-EarthSaver {
  font-family: "Wall-E-Credit";
  font-size: 150%;
  width: fit-content;
  align-self: self-start;
  position: absolute;
  right: 6%;
  color: rgb(27, 171, 73);
}
.vendor-EveCard {
  font-family: "Wall-E-Credit";
  width: fit-content;
  align-self: self-start;
  font-size: 150%;
  position: absolute;
  right: 6%;
  color: #000;
}
.clientName {
  text-align: center;
  font-size: 150%;
  align-self: flex-end;
  width: fit-content;
  position: absolute;
  bottom: -3%;
  left: 5%;
  box-shadow: #020202;
}
.expiration {
  text-align: center;
  font-size: 150%;
  width: fit-content;
  align-self: end;
  position: absolute;
  right: 7%;
  bottom: 3%;
}
.cardNumber {
  text-align: center;
  width: fit-content;
  font-size: 240%;
  align-self: flex-end;
  padding: 5%;
  position: absolute;
}
.cvv {
  display: flex;
  align-self: center;
  position: absolute;
  width: 77%;
  right: 12%;
  flex-direction: row;
  justify-content: space-between;

  p {
    left: 0%;
    font-size: 120%;
    bottom: 5%;
  }
  .chip-img {
    width: 50px;
    height: 50px;
    top: 5%;
  }
  .wireless-img {
    width: 65px;
    height: 65px;
    position: absolute;
    top: -12%;
    left: 11%;
  }
}


.delete-btn {
  border-radius: 15px;
  z-index: 2;
  position: relative;
  padding: 12px;
  bottom: 100%;
  width: 10%;
  left: -57%;
  transition: background-color 0.3s ease-in-out;

  
  &:hover{
    transform: translateX(-30%);
    background-color: #af1c1c;
    width: 20%;
  }
  
  &:hover::before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: "Delete";

    top: 50%;
    left: 50%;
  }
}

.add-card{
  margin-bottom: 5%;
}

.form-div {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    background-color: #fdfdfd;
}

.form-div .input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* Bredden av hela formen */
  margin-bottom: 5px; /* Lite avstånd mellan rader */
}
input[type=text]:focus {
  border: 3px solid #555;
}
.form-div input {
  border-radius: 3px;
  border-style: none;
  border-bottom: 1px solid rgb(180, 176, 176);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}


.form-div select {
  border-radius: 3px;
  border-style: none;
  width: 100%;
  border-bottom: 1px solid rgb(180, 176, 176);
  padding: 5px;
  box-sizing: border-box;
}
.expiration-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
   #month{
    width: 48%;
}
  #year{
    width: 48%;
  }
}


@media screen and (max-width: 900px) {
  .inactive-card {
    position: relative;
    order: 1;
    z-index: 1;
    margin-bottom: -53%;
}
}

@media screen and (max-width: 768px) {
  .delete-btn {
    position: relative;
    top: -200px;
    padding: 1px;
    right: 10px; /* Ny högerposition */
    /* Andra egenskaper för mindre skärmar här */
  }
  .card-wrapper {
    width: 320px;
    height: 200px;
    .cardNumber{
      font-size: 130%;
    }
    .clientName{
      font-size: 100%;
    }
    .expiration{
      font-size: 100%;
    }
  }


 .active-card{
    margin-bottom: 20px;
  }
  .inactive-card{
    margin-top: 0em;
    height: 46%;
  }
  nav{
    display: flex;
    flex-direction: column;
  }
  .cvv{
    .chip-img{
      width: 30px;
      height: 30px;
    }
    .wireless-img{
      width: 40px;
      height: 40px;
      top: -8%;
    }
  }
}
